@model MWear.Models.Category
@{
    ViewBag.Title = "EditCategory";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";

    List<MWear.Models.Category> pcategories = ViewBag.PCat;
}


<!-- CONTENT WRAPPER -->
<div class="ec-content-wrapper">
    <div class="content">
        <div class="breadcrumb-wrapper d-flex align-items-center justify-content-between">
            <div>
                <h1>Edit Category</h1>
                <p class="breadcrumbs">
                    <span><a href="@Url.Action("Index","Admin")">Home</a></span>
                    <span><i class="mdi mdi-chevron-right"></i></span>Category
                </p>
            </div>
            <div>
                <a href="@Url.Action("Index","Category")" class="btn btn-primary">
                    View All
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card card-default">
                    <div class="card-header card-header-border-bottom">
                        <h2>Edit Category</h2>
                    </div>

                    <div class="card-body">
                        <div class="row ec-vendor-uploads">
                            <div class="col-lg-12 col-sm-12">
                                <div class="ec-vendor-upload-detail">
                                    @*<form  class="row g-3">*@
                                    @using (Html.BeginForm("EditCategory", "Category", FormMethod.Post, new { @enctype = "multipart/form-data", @class = "row g-3" }))
                                    {
                                        @Html.AntiForgeryToken()
                                        <div class="col-md-12">
                                            <label for="inputEmail4" class="form-label">Category name</label>
                                            <input type="hidden" value="@Model.CategoryID" name="CategoryID" />
                                            <input type="text" class="form-control slug-title" value="@Model.CategoryName" name="CategoryName" required>
                                        </div>
                                        <div class="col-md-12">
                                            <label class="form-label">Select Parent Category (If Any)</label>
                                            <select id="Categories" name="ParentCategory" class="form-select">
                                                <option>Select Parent Category</option>
                                                @foreach (var item in pcategories)
                                                {
                                                    if (item.CategoryID == Model.ParentCategory)
                                                    {
                                                        <option value="@item.CategoryID" selected>@item.CategoryDescription</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="@item.CategoryID">@item.CategoryDescription</option>
                                                    }

                                                }

                                            </select>
                                        </div>
                                        <div class="col-md-12">
                                            <label class="form-label">Ful Detail</label>
                                            <textarea class="form-control" name="CategoryDescription" rows="4">@Model.CategoryDescription</textarea>
                                        </div>

                                        <div class="col-md-8 mb-25">
                                            <label class="form-label">Dont Include in Menu</label>
                                            <div class="form-checkbox-box">
                                                <div class="form-check form-check-inline">
                                                    @if (Model.IsNotInMenu == true)
                                                    {

                                                        <input type="checkbox" name="AvailableChechbox" checked>
                                                    }
                                                    else
                                                    {

                                                        <input type="checkbox" name="AvailableChechbox">
                                                    }
                                                    <label>Yes</label>
                                                </div>

                                            </div>
                                        </div>

                                        <div class="col-md-12">
                                            <button type="submit" class="btn btn-primary">Submit</button>
                                        </div>
                                    }
                                    @*</form>*@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End Content -->
</div> <!-- End Content Wrapper -->
