
@{
    ViewBag.Title = "OrderDetail";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdminTable.cshtml";
    List<MWear.Models.OrderDetail> orderDetails = ViewBag.orderdetails;
    List<MWear.Models.Order> order = ViewBag.orders;
    List<MWear.Models.Product> products = ViewBag.Products;

    var ordervar = order.FirstOrDefault();
}

<!-- CONTENT WRAPPER -->
<div class="ec-content-wrapper">
    <div class="content">
        <div class="breadcrumb-wrapper breadcrumb-wrapper-2">
            <h1>Order Detail</h1>
            <p class="breadcrumbs">
                <span><a href="@Url.Action("Index", "Orders")">Home</a></span>
                <span><i class="mdi mdi-chevron-right"></i></span>Orders
            </p>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="ec-odr-dtl card card-default">
                    <div class="card-header card-header-border-bottom d-flex justify-content-between">
                        <h2 class="ec-odr">
                            Order Detail<br>
                            
                            <span class="small">Order ID: #@ordervar.OrderID</span>
                        </h2>
                    </div>
                    <div class="card-body">


                            <div class="row">
                                <div class="col-xl-3 col-lg-6">
                                    <address class="info-grid">
                                        <div class="info-title"><strong>Customer:</strong></div><br>
                                        <div class="info-content">
                                            @ordervar.CustomerFirstName @ordervar.CustomerLastName<br>
                                            @ordervar.CustomerAdress1<br>
                                            @ordervar.CustomerAdress2<br>
                                            @ordervar.CustomerEmail<br>
                                            <abbr title="Phone">Phone:</abbr> @ordervar.CustomerPhone
                                        </div>
                                    </address>
                                </div>
                                <div class="col-xl-3 col-lg-6">
                                    <address class="info-grid">
                                        <div class="info-title"><strong>Shipped To:</strong></div><br>
                                        <div class="info-content">
                                            @ordervar.CustomerFirstName @ordervar.CustomerLastName<br>
                                            @ordervar.CustomerAdress1<br>
                                            @ordervar.CustomerAdress2<br>
                                            <abbr title="Postal COde">Postal Code:</abbr>@ordervar.CustomerPostalCode<br>
                                            <abbr title="Phone">Phone:</abbr> @ordervar.CustomerPhone
                                        </div>
                                    </address>
                                </div>
                                <div class="col-xl-3 col-lg-6">
                                    <address class="info-grid">
                                        <div class="info-title"><strong>Payment Method:</strong></div><br>
                                        <div class="info-content">
                                            @ordervar.PaymentMethod<br>
                                        </div>
                                    </address>
                                </div>
                                <div class="col-xl-3 col-lg-6">
                                    <address class="info-grid">
                                        <div class="info-title"><strong>Order Date:</strong></div><br>
                                        <div class="info-content">
                                            @ordervar.OrderDate<br>
                                        </div>
                                    </address>
                                </div>
                            </div>


                        <div class="row">
                            <div class="col-md-12">
                                <h3 class="tbl-title">PRODUCT SUMMARY</h3>
                                <div class="table-responsive">
                                    <table class="table table-striped o-tbl" style="text-align:left">
                                        <thead>
                                            <tr>
                                                <td><strong>PID</strong></td>
                                                <td ><strong>Image</strong></td>
                                                <td ><strong>Product Name</strong></td>
                                                <td ><strong>Price</strong></td>
                                                <td ><strong>Quantity</strong></td>
                                                <td  class="text-right"><strong>SubTotal</strong></td>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            @foreach (var item in orderDetails)
                                            {

                                                foreach (var items in products.Where(x => x.ProductID == item.ProductID))
                                                {
                                                    <tr>
                                                        <td>@items.ProductID</td>
                                                        <td>
                                                            <img class="product-img"
                                                                 src="~/Images/Products/@items.Picture" alt="" />

                                                        </td>
                                                        <td>
                                                            <strong>@items.ProductName (@items.SKU)</strong><br>@items.ProductShortDesc
                                                        </td>
                                                        <td >@items.Price</td>
                                                        <td>X @item.Quantity</td>
                                                        <td class="text-right">@item.TotalPrice</td>
                                                    </tr>

                                                }
                                            }

                                                    <tr>
                                                        <td colspan="4"></td>
                                                        <td class="text-right"><strong>Delivery Charges</strong></td>
                                                        <td class="text-right"><strong>@ordervar.DeliverCharges</strong></td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="4">
                                                        </td>
                                                        <td class="text-right"><strong>Total</strong></td>
                                                        <td class="text-right"><strong>@ordervar.NetAmount</strong></td>
                                                    </tr>

                                                    <tr>
                                                        <td colspan="4">
                                                        </td>
                                                        <td class="text-right"><strong>Payment Status</strong></td>
                                                        <td class="text-right"><strong>N/A</strong></td>
                                                    </tr>
                                                </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Tracking Detail -->
                @*<div class="card mt-4 trk-order">
                    <div class="p-4 text-center text-white text-lg bg-dark rounded-top">
                        <span class="text-uppercase">Tracking Order No - </span>
                        <span class="text-medium">34VB5540K83</span>
                    </div>
                    <div class="d-flex flex-wrap flex-sm-nowrap justify-content-between py-3 px-2 bg-secondary">
                        <div class="w-100 text-center py-1 px-2">
                            <span class="text-medium">
                                Shipped
                                Via:
                            </span> UPS Ground
                        </div>
                        <div class="w-100 text-center py-1 px-2">
                            <span class="text-medium">Status:</span>
                            Checking Quality
                        </div>
                        <div class="w-100 text-center py-1 px-2">
                            <span class="text-medium">
                                Expected
                                Date:
                            </span> DEC 09, 2021
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="steps d-flex flex-wrap flex-sm-nowrap justify-content-between padding-top-2x padding-bottom-1x">
                            <div class="step completed">
                                <div class="step-icon-wrap">
                                    <div class="step-icon"><i class="mdi mdi-cart"></i></div>
                                </div>
                                <h4 class="step-title">Confirmed Order</h4>
                            </div>
                            <div class="step completed">
                                <div class="step-icon-wrap">
                                    <div class="step-icon"><i class="mdi mdi-tumblr-reblog"></i></div>
                                </div>
                                <h4 class="step-title">Processing Order</h4>
                            </div>
                            <div class="step completed">
                                <div class="step-icon-wrap">
                                    <div class="step-icon"><i class="mdi mdi-gift"></i></div>
                                </div>
                                <h4 class="step-title">Product Dispatched</h4>
                            </div>
                            <div class="step">
                                <div class="step-icon-wrap">
                                    <div class="step-icon"><i class="mdi mdi-truck-delivery"></i></div>
                                </div>
                                <h4 class="step-title">On Delivery</h4>
                            </div>
                            <div class="step">
                                <div class="step-icon-wrap">
                                    <div class="step-icon"><i class="mdi mdi-hail"></i></div>
                                </div>
                                <h4 class="step-title">Product Delivered</h4>
                            </div>
                        </div>
                    </div>
                </div>*@
            </div>
        </div>
    </div> <!-- End Content -->
</div> <!-- End Content Wrapper -->
