
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<!-- Ec breadcrumb start -->
<div class="sticky-header-next-sec  ec-breadcrumb section-space-mb">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="row ec_breadcrumb_inner">
                    <div class="col-md-6 col-sm-12">
                        <h2 class="ec-breadcrumb-title">User Profile</h2>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <!-- ec-breadcrumb-list start -->
                        <ul class="ec-breadcrumb-list">
                            <li class="ec-breadcrumb-item"><a href="@Url.Action("Index","Home")">Home</a></li>
                            <li class="ec-breadcrumb-item active">Profile</li>
                        </ul>
                        <!-- ec-breadcrumb-list end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Ec breadcrumb end -->
<!-- User profile section -->
<section class="ec-page-content ec-vendor-uploads ec-user-account section-space-p">
    <div class="container">
        <div class="row">
            <!-- Sidebar Area Start -->
            @Html.Partial("_UserSidebarArea")
            <!-- Sidebar Area End -->
            <div class="ec-shop-rightside col-lg-9 col-md-12">
                <div class="ec-vendor-dashboard-card ec-vendor-setting-card">
                    <div class="ec-vendor-card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="ec-vendor-block-profile" >
                                    <div class="ec-vendor-block-img space-bottom-30">
                                        <div class="ec-vendor-block-bg" style="background:none;">
                                            <a href="@Url.Action("EditProfile","UserProfile")" class="btn btn-lg btn-primary">Edit Detail</a>
                                        </div>
                                        <div class="ec-vendor-block-detail">
                                            <img class="v-img" src="~/Theme/assets/images/user/1.jpg" alt="vendor image">
                                            <h5 class="name">User Name</h5>
                                        </div>
                                        <p>Hello <span>Dawood</span></p>
                                        <p>From your account you can easily view and track orders. You can manage and change your account information like address, contact information and history of orders.</p>
                                    </div>
                                    <h5>Account Information</h5>

                                    <div class="row">
                                        <div class="col-md-6 col-sm-12">
                                            <div class="ec-vendor-detail-block ec-vendor-block-email space-bottom-30">
                                                <h6>
                                                    E-mail address <a href="@Url.Action("EditProfile","UserProfile")">
                                                        <img src="~/Theme/assets/images/icons/edit.svg"
                                                             class="svg_img pro_svg" alt="edit" />
                                                    </a>
                                                </h6>
                                                <ul>
                                                    <li><strong>Email 1 : </strong>support1@exapmle.com</li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-12">
                                            <div class="ec-vendor-detail-block ec-vendor-block-contact space-bottom-30">
                                                <h6>
                                                    Contact nubmer<a href="@Url.Action("EditProfile","UserProfile")">
                                                        <img src="~/Theme/assets/images/icons/edit.svg"
                                                             class="svg_img pro_svg" alt="edit" />
                                                    </a>
                                                </h6>
                                                <ul>
                                                    <li><strong>Phone Nubmer: </strong>0305-2400969</li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-12">
                                            <div class="ec-vendor-detail-block ec-vendor-block-email space-bottom-30">
                                                <h6>
                                                    Province <a href="@Url.Action("EditProfile","UserProfile")">
                                                        <img src="~/Theme/assets/images/icons/edit.svg"
                                                             class="svg_img pro_svg" alt="edit" />
                                                    </a>
                                                </h6>
                                                <ul>
                                                    <li><strong>Province: : </strong>Sindh</li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-12">
                                            <div class="ec-vendor-detail-block ec-vendor-block-contact space-bottom-30">
                                                <h6>
                                                    City<a href="@Url.Action("EditProfile","UserProfile")">
                                                        <img src="~/Theme/assets/images/icons/edit.svg"
                                                             class="svg_img pro_svg" alt="edit" />
                                                    </a>
                                                </h6>
                                                <ul>
                                                    <li><strong>City: </strong>Karachi</li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-12">
                                            <div class="ec-vendor-detail-block ec-vendor-block-address mar-b-30">
                                                <h6>
                                                    Billing Address<a href="@Url.Action("EditProfile","UserProfile")">
                                                        <img src="~/Theme/assets/images/icons/edit.svg"
                                                             class="svg_img pro_svg" alt="edit" />
                                                    </a>
                                                </h6>
                                                <ul>
                                                    <li>
                                                        <strong>Home : </strong>R-187 Anwar-e-Ibrahim Malir Karachi
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-12">
                                            <div class="ec-vendor-detail-block ec-vendor-block-address mar-b-30">
                                                <h6>
                                                    Gender<a href="@Url.Action("EditProfile","UserProfile")">
                                                        <img src="~/Theme/assets/images/icons/edit.svg"
                                                             class="svg_img pro_svg" alt="edit" />
                                                    </a>
                                                </h6>
                                                <ul>
                                                    <li>
                                                        <strong>Gender : </strong>Male
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-12">
                                            <div class="ec-vendor-detail-block ec-vendor-block-address">
                                                <h6>
                                                    Shipping Address<a href="@Url.Action("EditProfile","UserProfile")">
                                                        <img src="~/Theme/assets/images/icons/edit.svg"
                                                             class="svg_img pro_svg" alt="edit" />
                                                    </a>
                                                </h6>
                                                <ul>
                                                    <li>
                                                        <strong>Office : </strong>R-187 Anwar-e-Ibrahim Malir Karachi
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End User profile section -->
<!-- Modal -->
<!-- Modal end -->