@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";

    List<MWear.Models.WebImage> sliders = ViewBag.WebImages;
    List<MWear.Models.Product> products = ViewBag.Products;
    List<MWear.Models.Category> categories = ViewBag.Categories;
    List<MWear.Models.Color> colors = ViewBag.Colors;
    List<MWear.Models.Size> sizes = ViewBag.Sizes;
    List<MWear.Models.ProductCategory> pcategory = ViewBag.productCategory;
    List<MWear.Models.AvailabeColor> pcolor = ViewBag.productColor;
    List<MWear.Models.AvailableSize> psize = ViewBag.productSize;
    

}
<!-- Main Slider Start -->
<div class="sticky-header-next-sec ec-main-slider section section-space-pb">
    <div class="ec-slider swiper-container main-slider-nav main-slider-dot">
        <!-- Main slider -->
        <div class="swiper-wrapper">
            @foreach (var item in sliders.Where(x => x.Position=="Main"))
            {
                <div class="ec-slide-item swiper-slide d-flex ec-slide-1" style="background-image:url(../../Images/Products/@item.ImagePath); width:1536px; height:550px;">
                    <div class="container align-self-center">
                        <div class="row">
                            <div class="col-xl-6 col-lg-7 col-md-7 col-sm-7 align-self-center">
                                <div class="ec-slide-content slider-animation">
                                    <a href="@Url.Action("Index", "Shop")" class="btn btn-lg btn-secondary" style="margin-top:400px">View All</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            
        </div>
        <div class="swiper-pagination swiper-pagination-white"></div>
        <div class="swiper-buttons">
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
    </div>
</div>
<!-- Main Slider End -->







<!-- Product tab Area Start -->
<section class="section ec-product-tab section-space-p">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="section-title">
                    <h2 class="ec-bg-title">Our Top Collection</h2>
                    <h2 class="ec-title">Our Top Collection</h2>
                    <p class="sub-title">Browse The Collection of Top Products</p>
                </div>
            </div>

            <!-- Tab Start -->
            <div class="col-md-12 text-center">
                <ul class="ec-pro-tab-nav nav justify-content-center">
                    <li class="nav-item">
                        <a class="nav-link active" data-bs-toggle="tab" href="#tab-pro-for-all">
                            For
                            All
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#tab-pro-for-men">
                            For
                            Men
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#tab-pro-for-women">
                            For
                            Women
                        </a>
                    </li>
                    @*<li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#tab-pro-for-child">
                            For
                            Children
                        </a>
                    </li>*@
                </ul>
            </div>
            <!-- Tab End -->
        </div>
        <div class="row">
            <div class="col">
                <div class="tab-content">
                    <!-- 1st Product tab start -->
                    <div class="tab-pane fade show active" id="tab-pro-for-all">
                        <div class="row">
                            <!-- Product Content -->
                            <!-- Custom Tile Starts -->
                            @foreach (var items in products.Where(x => x.Available == true && x.Featured == true).OrderByDescending(x => x.ProductID).Take(8))
                            {

                                var catids = pcategory.Where(x => x.Product == items.ProductGUID).ToList();
                                var catname = "";
                                var count = 1;
                                foreach (var itemss in catids)
                                {
                                    var catename = categories.Where(x => x.CategoryID == itemss.Category).FirstOrDefault().CategoryName;
                                    if (count == 1)
                                    {
                                        catname = catename;
                                    }
                                    else
                                    {
                                        catname = catname + ", " + catename;
                                    }
                                    count = count + 1;
                                }


                                var lenght12 = psize.Where(x => x.Product == items.ProductGUID).ToList();
                                var lenght13 = pcolor.Where(x => x.Product == items.ProductGUID).ToList();

                                <div class="col-lg-3 col-md-6 col-sm-6">
                                    <!-- START single card -->
                                    <div class="ec-product-lsc" style="margin-top: 10px;">
                                        <div class="ec-product-image">
                                            <a href="@Url.Action("Index", "ProductDetail", new { ProID = items.ProductGUID})">
                                                <img src="~/Images/Products/@items.Picture" class="img-center" alt="@items.Picture">
                                            </a>
                                            <span class="ec-product-ribbon">New</span>
                                        </div>
                                        <div class="ec-product-body">

                                            <p class="ec-description">
                                                @catname
                                            @if (items.UnitsInStock <= 2)
                                            {

                                                <span>Low stock</span>
                                            }
                                            else
                                            {
                                                <span>In stock</span>
                                            }
                                        </p>

                                        <h3 class="ec-title"><a href="@Url.Action("Index", "ProductDetail", new { ProID = items.ProductGUID})">@items.ProductName</a></h3>
                                        <div class="ec-el-price">
                                            @if (items.Discount != null)
                                            {
                                                var ogprice = items.Price;
                                                var dcprice = items.Discount;
                                                var newprice = ogprice - dcprice;
                                                <p class="ec-d-price" style="margin-left:-60px;"> Rs. @items.Price </p>
                                                <br />
                                                <p class="ec-o-price"> Rs. @newprice </p>
                                            }
                                            else
                                            {
                                                <p class="ec-o-price"> Rs. @items.Price </p>
                                            }

                                        </div>
                                        @*@if (lenght12.Count > 1 || lenght13.Count > 1)
                                        {
                                        
                                        <div class="ec-color">
                                            <div class="ec-pro-color">
                                                <span class="ec-pro-opt-label">Color</span>
                                                <ul class="ec-opt-swatch ec-change-img">
                                                    @foreach (var itemsss in pcolor.Where(x => x.Product == items.ProductGUID))
                                                    {
                                                        foreach (var item in colors.Where(x => x.ColorID == itemsss.AvialableColor))
                                                        {


                                                            <li class="active">
                                                                <a class="ec-opt-clr-img"
                                                                   data-src="~/Images/Products/@items.Picture"
                                                                   data-src-hover="~/Images/Products/@items.Picture"
                                                                   data-tooltip="Gray">
                                                                    <span style="background-color:@item.ColorHash;"></span>
                                                                </a>
                                                            </li>

                                                        }
                                                    }
                                                </ul>
                                            </div>

                                        </div>
                                        <br>

                                        <br>
                                        <div class="ec-size" style="margin-top: -15px;">
                                            @foreach (var itemsss in psize.Where(x => x.Product == items.ProductGUID))
                                            {
                                                foreach (var item in sizes.Where(x => x.SizeID == itemsss.AvialableSize))
                                                {
                                                    <a style="width:auto; padding-left:5px; padding-right:5px;">@item.DisplayName</a>
                                                }
                                            }
                                        </div>
                                        }*@


                                        <div class="ec-link-btn" style="margin-top:10px;">

                                            @if (lenght12.Count > 1 || lenght13.Count > 1)
                                            {

                                                <a class=" ec-add-to-cart" href="@Url.Action("Index", "ProductDetail", new { ProID = items.ProductGUID})">Select Product Options</a>
                                            }
                                            else
                                            {

                                                <a class=" ec-add-to-cart" href="@Url.Action("Index", "ProductDetail", new { ProID = items.ProductGUID})">View Product</a>
                                            }

                                            @*<div class="ec-link-icon">

                                                <a href="#" data-tip="Add to Wishlist">
                                                    <img src="~/Theme/assets/images/icons/wishlist.svg"
                                                         class="svg_img header_svg pro_svg" alt="wishlist" />
                                                </a>
                                              
                                            </div>*@
                                        </div>
                                        </div>
                                    </div>
                                </div>

                            }
                            <!-- Custom tile Ends -->





                            <div class="col-sm-12 shop-all-btn" style="margin-top: 30px;"><a href="~/Theme/shop-left-sidebar-col-3.html">Shop All Collection</a></div>


                        </div>
                    </div>

                    <!-- ec 1st Product tab end -->
                    <!-- ec 2nd Product tab start -->
                    <div class="tab-pane fade" id="tab-pro-for-men">
                        <div class="row">
                            <!-- Product Content -->
                            <!-- Custom Tile Starts -->
                            @foreach (var item in categories.Where(x => x.Active == true))
                            {
                                var cat = item.CategoryID;
                                foreach (var itemss in pcategory.Where(x => x.Category == cat))
                                {

                                    var pro = itemss.Product;
                                    foreach (var items in products.Where(x => x.ProductGUID == pro && x.Active == true && x.Featured == true && x.ProductName.Contains("Mens")).OrderByDescending(x => x.ProductID).Take(8))
                                    {
                                 

                                        var catids = pcategory.Where(x => x.Product == items.ProductGUID).ToList();
                                        var catname = "";
                                        var count = 1;
                                        foreach (var itemscat in catids)
                                        {
                                                            var catename = categories.Where(x => x.CategoryID == itemscat.Category).FirstOrDefault().CategoryName;
                                                            if (count == 1)
                                                            {
                                                                catname = catename;
                                                            }
                                                            else
                                                            {
                                                                catname = catname + ", " + catename;
                                                            }
                                                            count = count + 1;
                                                        }


                                                                    var lenght12 = psize.Where(x => x.Product == items.ProductGUID).ToList();
                                                                    var lenght13 = pcolor.Where(x => x.Product == items.ProductGUID).ToList();

                                                            <div class="col-lg-3 col-md-6 col-sm-6">
                                                                <!-- START single card -->
                                                                <div class="ec-product-lsc" style="margin-top: 10px;">
                                                                    <div class="ec-product-image">
                                                                        <a href="@Url.Action("Index", "ProductDetail", new { ProID = items.ProductGUID })">
                                                                            <img src="~/Images/Products/@items.Picture" class="img-center" alt="@items.Picture">
                                                                        </a>
                                                                        <span class="ec-product-ribbon">New</span>
                                                                    </div>
                                                                    <div class="ec-product-body">

                                                                        <p class="ec-description">
                                                                            @catname
                                                                            @if (items.UnitsInStock <= 2)
                                                                            {

                                                                                <span>Low stock</span>
                                                                            }
                                                                            else
                                                                            {
                                                                                <span>In stock</span>
                                                                            }
                                                                        </p>

                                                                        <h3 class="ec-title"><a href="@Url.Action("Index", "ProductDetail", new { ProID = items.ProductGUID })">@items.ProductName</a></h3>
                                                                        <div class="ec-el-price">
                                                                            @if (items.Discount != null)
                                                                            {
                                                                                var ogprice = items.Price;
                                                                                var dcprice = items.Discount;
                                                                                var newprice = ogprice - dcprice;
                                                                                <p class="ec-d-price" style="margin-left:-60px;"> Rs. @items.Price </p>
                                                                                <br />
                                                                                <p class="ec-o-price"> Rs. @newprice </p>
                                                                            }
                                                                            else
                                                                            {
                                                                                <p class="ec-o-price"> Rs. @items.Price </p>
                                                                            }

                                                                        </div>
                                                         


                                            <div class="ec-link-btn" style="margin-top:10px;">

                                                @if (lenght12.Count > 1 || lenght13.Count > 1)
                                                {

                                                    <a class=" ec-add-to-cart" href="@Url.Action("Index", "ProductDetail", new { ProID = items.ProductGUID })">Select Product Options</a>
                                                }
                                                else
                                                {

                                                    <a class=" ec-add-to-cart" href="@Url.Action("Index", "ProductDetail", new { ProID = items.ProductGUID })">View Product</a>
                                                }

                                             
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                    }
                                }
                            }
                            <!-- Custom tile Ends -->

                            <div class="col-sm-12 shop-all-btn" style="margin-top: 30px;"><a href="@Url.Action("Index", "Shop")">Shop All Collection</a></div>
                        </div>
                    </div>
                    <!-- ec 2nd Product tab end -->



                    <!-- ec 3rd Product tab start -->
                    <div class="tab-pane fade" id="tab-pro-for-women">
                        <div class="row">



                            <!-- Custom Tile Starts -->
                            @foreach (var item in categories.Where(x => x.Active == true))
                            {
                                var cat = item.CategoryID;
                                foreach (var itemss in pcategory.Where(x => x.Category == cat))
                                {
                                    var pro = itemss.Product;
                                    foreach (var items in products.Where(x => x.ProductGUID == pro && x.Active == true && x.Featured == true && x.ProductName.Contains("Womens")).OrderByDescending(x => x.ProductID).Take(8))
                                    {


                                        var catids = pcategory.Where(x => x.Product == items.ProductGUID).ToList();
                                        var catname = "";
                                        var count = 1;
                                        foreach (var itemscat in catids)
                                        {
                                            var catename = categories.Where(x => x.CategoryID == itemscat.Category).FirstOrDefault().CategoryName;
                                            if (count == 1)
                                            {
                                                catname = catename;
                                            }
                                            else
                                            {
                                                catname = catname + ", " + catename;
                                            }
                                            count = count + 1;
                                        }


                                        var lenght12 = psize.Where(x => x.Product == items.ProductGUID).ToList();
                                        var lenght13 = pcolor.Where(x => x.Product == items.ProductGUID).ToList();

                                        <div class="col-lg-3 col-md-6 col-sm-6">
                                            <!-- START single card -->
                                            <div class="ec-product-lsc" style="margin-top: 10px;">
                                                <div class="ec-product-image">
                                                    <a href="@Url.Action("Index", "ProductDetail", new { ProID = items.ProductGUID })">
                                                        <img src="~/Images/Products/@items.Picture" class="img-center" alt="@items.Picture">
                                                    </a>
                                                    <span class="ec-product-ribbon">New</span>
                                                </div>
                                                <div class="ec-product-body">

                                                    <p class="ec-description">
                                                        @catname
                                                        @if (items.UnitsInStock <= 2)
                                                        {

                                                            <span>Low stock</span>
                                                        }
                                                        else
                                                        {
                                                            <span>In stock</span>
                                                        }
                                                    </p>

                                                    <h3 class="ec-title"><a href="@Url.Action("Index", "ProductDetail", new { ProID = items.ProductGUID })">@items.ProductName</a></h3>
                                                    <div class="ec-el-price">
                                                        @if (items.Discount != null)
                                                        {
                                                            var ogprice = items.Price;
                                                            var dcprice = items.Discount;
                                                            var newprice = ogprice - dcprice;
                                                            <p class="ec-d-price" style="margin-left:-60px;"> Rs. @items.Price </p>
                                                            <br />
                                                            <p class="ec-o-price"> Rs. @newprice </p>
                                                        }
                                                        else
                                                        {
                                                            <p class="ec-o-price"> Rs. @items.Price </p>
                                                        }

                                                    </div>
                                                    @if (lenght12.Count > 1 || lenght13.Count > 1)
                                                    {

                                                        <div class="ec-color">
                                                            <div class="ec-pro-color">
                                                                <span class="ec-pro-opt-label">Color</span>
                                                                <ul class="ec-opt-swatch ec-change-img">
                                                                    @foreach (var itemsss in pcolor.Where(x => x.Product == items.ProductGUID))
                                                                    {
                                                                        foreach (var itemcol in colors.Where(x => x.ColorID == itemsss.AvialableColor))
                                                                        {


                                                                            <li class="active">
                                                                                <a class="ec-opt-clr-img"
                                                                                   data-src="~/Images/Products/@items.Picture"
                                                                                   data-src-hover="~/Images/Products/@items.Picture"
                                                                                   data-tooltip="Gray">
                                                                                    <span style="background-color:@itemcol.ColorHash;"></span>
                                                                                </a>
                                                                            </li>

                                                                        }
                                                                    }
                                                                </ul>
                                                            </div>
                                                        </div>
                                                        <br>

                                                        <br>
                                                        <div class="ec-size" style="margin-top: -15px;">
                                                            @foreach (var itemsss in psize.Where(x => x.Product == items.ProductGUID))
                                                            {
                                                                foreach (var itemsiz in sizes.Where(x => x.SizeID == itemsss.AvialableSize))
                                                                {
                                                                    <a style="width:auto; padding-left:5px; padding-right:5px;">@itemsiz.DisplayName</a>
                                                                }
                                                            }
                                                        </div>
                                                    }


                                                    <div class="ec-link-btn" style="margin-top:10px;">

                                                        @if (lenght12.Count > 1 || lenght13.Count > 1)
                                                        {

                                                            <a class=" ec-add-to-cart" href="@Url.Action("Index", "ProductDetail", new { ProID = items.ProductGUID })">Select Product Options</a>
                                                        }
                                                        else
                                                        {

                                                            <a class=" ec-add-to-cart" href="@Url.Action("Index", "ProductDetail", new { ProID = items.ProductGUID })">View Product</a>
                                                        }

                                                    
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    }
                                }
                            }
                            <!-- Custom tile Ends -->





                            <div class="col-sm-12 shop-all-btn" style="margin-top: 30px;"><a href="@Url.Action("Index", "Shop")">Shop All Collection</a></div>


                        </div>
                    </div>
                    <!-- ec 3rd Product tab end -->


                    <!-- ec 4th Product tab start -->
                    @*<div class="tab-pane fade" id="tab-pro-for-child">
                        <div class="row">



                            <div class="col-sm-12 shop-all-btn" style="margin-top: 30px;"><a href="~/Theme/shop-left-sidebar-col-3.html">Shop All Collection</a></div>

                        </div>
                    </div>*@
                    <!-- ec 4th Product tab end -->


                </div>


            </div>
        </div>
    </div>
</section>
<!-- ec Product tab Area End -->
<!-- ec Banner Section Start -->
<section class="ec-banner section section-space-p">
    <h2 class="d-none">Banner</h2>
    <div class="container">
        <!-- ec Banners Start -->
        <div class="ec-banner-inner">
            <!--ec Banner Start -->
            <div class="ec-banner-block ec-banner-block-2">
                <div class="row">
                    <div class="banner-block col-lg-6 col-md-12 margin-b-30" data-animation="slideInRight">
                        <div class="bnr-overlay">
                            <img src="~/Images/Products/New-Features-Coming-Soon.jpg" alt="" />
                            @*<div class="banner-text">
                                <span class="ec-banner-stitle">New Arrivals</span>
                                <span class="ec-banner-title">mens<br> Sport shoes</span>
                                <span class="ec-banner-discount">30% Discount</span>
                            </div>
                            <div class="banner-content">
                                <span class="ec-banner-btn"><a href="~/Theme/#">Order Now</a></span>
                            </div>*@
                        </div>
                    </div>
                    <div class="banner-block col-lg-6 col-md-12" data-animation="slideInLeft">
                        <div class="bnr-overlay">
                            <img src="~/Images/Products/Mobile-App-Coming-Soon.jpg" alt="" />
                            @*<div class="banner-text">
                                <span class="ec-banner-stitle">New Trending</span>
                                <span class="ec-banner-title">Smart<br> watches</span>
                                <span class="ec-banner-discount">Buy any 3 Items & get <br>20% Discount</span>
                            </div>
                            <div class="banner-content">
                                <span class="ec-banner-btn"><a href="~/Theme/#">Order Now</a></span>
                            </div>*@
                        </div>
                    </div>
                </div>
                <!-- ec Banner End -->
            </div>
            <!-- ec Banners End -->
        </div>
    </div>
</section>
<!-- ec Banner Section End -->


<!-- Category Section End -->
<!--  Feature & Special Section Start -->
<!-- Feature & Special Section End -->
<!-- New Product Start -->
<section class="section ec-new-product section-space-p">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="section-title">
                    <h2 class="ec-bg-title">New Arrivals</h2>
                    <h2 class="ec-title">New Arrivals</h2>
                    <p class="sub-title">Browse The Collection of Top Products</p>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- New Product Content -->
            <!-- Custom Tile Starts -->


            <!-- Custom Tile Starts -->
            @foreach (var items in products.Where(x => x.Available == true).OrderByDescending(x => x.ProductID).Take(8))
            {

                var catids = pcategory.Where(x => x.Product == items.ProductGUID).ToList();
                var catname = "";
                var count = 1;
                foreach (var itemss in catids)
                {
                    var catename = categories.Where(x => x.CategoryID == itemss.Category).FirstOrDefault().CategoryName;
                    if (count == 1)
                    {
                        catname = catename;
                    }
                    else
                    {
                        catname = catname + ", " + catename;
                    }
                    count = count + 1;
                }


                var lenght12 = psize.Where(x => x.Product == items.ProductGUID).ToList();
                var lenght13 = pcolor.Where(x => x.Product == items.ProductGUID).ToList();

                <div class="col-lg-3 col-md-6 col-sm-6">
                    <!-- START single card -->
                    <div class="ec-product-lsc" style="margin-top: 10px;">
                        <div class="ec-product-image">
                            <a href="@Url.Action("Index", "ProductDetail", new { ProID = items.ProductGUID})">
                                <img src="~/Images/Products/@items.Picture" class="img-center" alt="@items.Picture">
                            </a>
                            <span class="ec-product-ribbon">New</span>
                        </div>
                        <div class="ec-product-body">

                            <p class="ec-description">
                                @catname
                                @if (items.UnitsInStock <= 2)
                                {

                                    <span>Low stock</span>
                                }
                                else
                                {
                                    <span>In stock</span>
                                }
                            </p>

                            <h3 class="ec-title"><a href="@Url.Action("Index", "ProductDetail", new { ProID = items.ProductGUID})">@items.ProductName</a></h3>
                            <div class="ec-el-price">
                                @if (items.Discount != null)
                                {
                                    var ogprice = items.Price;
                                    var dcprice = items.Discount;
                                    var newprice = ogprice - dcprice;
                                    <p class="ec-d-price" style="margin-left:-60px;"> Rs. @items.Price </p>
                                    <br />
                                    <p class="ec-o-price"> Rs. @newprice </p>
                                }
                                else
                                {
                                    <p class="ec-o-price"> Rs. @items.Price </p>
                                }

                            </div>
                            @*@if (lenght12.Count > 1 || lenght13.Count > 1)
                            {

                                <div class="ec-color">
                                    <div class="ec-pro-color">
                                        <span class="ec-pro-opt-label">Color</span>
                                        <ul class="ec-opt-swatch ec-change-img">
                                            @foreach (var itemsss in pcolor.Where(x => x.Product == items.ProductGUID))
                                            {
                                                foreach (var item in colors.Where(x => x.ColorID == itemsss.AvialableColor))
                                                {


                                                    <li class="active">
                                                        <a class="ec-opt-clr-img"
                                                           data-src="~/Images/Products/@items.Picture"
                                                           data-src-hover="~/Images/Products/@items.Picture"
                                                           data-tooltip="Gray">
                                                            <span style="background-color:@item.ColorHash;"></span>
                                                        </a>
                                                    </li>

                                                }
                                            }
                                        </ul>
                                    </div>

                                </div>
                                <br>

                                <br>
                                <div class="ec-size" style="margin-top: -15px;">
                                    @foreach (var itemsss in psize.Where(x => x.Product == items.ProductGUID))
                                    {
                                        foreach (var item in sizes.Where(x => x.SizeID == itemsss.AvialableSize))
                                        {
                                            <a style="width:auto; padding-left:5px; padding-right:5px;">@item.DisplayName</a>
                                        }
                                    }
                                </div>
                            }*@


                            <div class="ec-link-btn" style="margin-top:10px;">

                                @if (lenght12.Count > 1 || lenght13.Count > 1)
                                {

                                    <a class=" ec-add-to-cart" href="@Url.Action("Index", "ProductDetail", new { ProID = items.ProductGUID})">Select Product Options</a>
                                }
                                else
                                {

                                    <a class=" ec-add-to-cart" href="@Url.Action("Index", "ProductDetail", new { ProID = items.ProductGUID})">View Product</a>
                                }

                                @*<div class="ec-link-icon">

                                    <a href="#" data-tip="Add to Wishlist">
                                        <img src="~/Theme/assets/images/icons/wishlist.svg"
                                             class="svg_img header_svg pro_svg" alt="wishlist" />
                                    </a>

                                </div>*@
                            </div>
                        </div>
                    </div>
                </div>

            }
            <!-- Custom tile Ends -->







            <div class="col-sm-12 shop-all-btn" style="margin-top: 30px;"><a href="@Url.Action("Index", "Shop")">Shop All Collection</a></div>

        </div>
    </div>
</section>
<!-- New Product end -->
<!--  offer Section Start -->
<section class="section ec-offer-section section-space-p section-space-m" style=" background-image:url(../../Images/Products/1920x630.jpg);">
    <h2 class="d-none">Offer</h2>
    <div class="container">
        <div class="row justify-content-end">
            <div class="col-xl-6 col-lg-7 col-md-7 col-sm-7 align-self-center ec-offer-content">
                <h2 class="ec-offer-title">JEWELLERY</h2>
                <h3 class="ec-offer-stitle" data-animation="slideInDown">Good Quality</h3>
                <span class="ec-offer-img" data-animation="zoomIn">@*<img src="#" alt="offer image" />*@</span>
                <span class="ec-offer-desc">Wide Range</span>
                <span class="ec-offer-price"></span>
                <a class="btn btn-primary" href="@Url.Action("Index", "Shop")" data-animation="zoomIn">Shop Now</a>
            </div>
        </div>
    </div>
</section>
<!-- offer Section End -->
<!--  services Section Start -->
<section class="section ec-services-section section-space-p">
    <h2 class="d-none">Services</h2>
    <div class="container">
        <div class="row">
            <div class="ec_ser_content ec_ser_content_1 col-sm-12 col-md-6 col-lg-3" data-animation="zoomIn">
                <div class="ec_ser_inner">
                    <div class="ec-service-image">
                        <img src="~/Theme/assets/images/icons/service_1.svg" class="svg_img" alt="" />
                    </div>
                    <div class="ec-service-desc">
                        <h2>Free Shipping</h2>
                        <p>Free shipping all Over Karachi</p>
                    </div>
                </div>
            </div>
            <div class="ec_ser_content ec_ser_content_2 col-sm-12 col-md-6 col-lg-3" data-animation="zoomIn">
                <div class="ec_ser_inner">
                    <div class="ec-service-image">
                        <img src="~/Theme/assets/images/icons/service_2.svg" class="svg_img" alt="" />
                    </div>
                    <div class="ec-service-desc">
                        <h2>24X7 Support</h2>
                        <p>Contact us 24 hours a day, 7 days a week</p>
                    </div>
                </div>
            </div>
            <div class="ec_ser_content ec_ser_content_3 col-sm-12 col-md-6 col-lg-3" data-animation="zoomIn">
                <div class="ec_ser_inner">
                    <div class="ec-service-image">
                        <img src="~/Theme/assets/images/icons/service_3.svg" class="svg_img" alt="" />
                    </div>
                    <div class="ec-service-desc">
                        <h2>30 Days Return</h2>
                        <p>Simply return it within 7 days for an exchange</p>
                    </div>
                </div>
            </div>
            <div class="ec_ser_content ec_ser_content_4 col-sm-12 col-md-6 col-lg-3" data-animation="zoomIn">
                <div class="ec_ser_inner">
                    <div class="ec-service-image">
                        <img src="~/Theme/assets/images/icons/service_4.svg" class="svg_img" alt="" />
                    </div>
                    <div class="ec-service-desc">
                        <h2>Payment Secure</h2>
                        <p>Pay Securely With Direct Bank Transfer</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--services Section End -->
