   <!-- Footer Start -->
<footer class="ec-footer section-space-mt">
    <div class="footer-container">
        <div class="footer-offer">
            <div class="container">
                <div class="row">
                    <div class="text-center footer-off-msg">
                        <span>For Supoprt View Our Contact Info</span><a href="@Url.Action("Contact","Home")" target="_blank">
                            Here
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-top section-space-footer-p">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-lg-3 ec-footer-contact">
                        <div class="ec-footer-widget">
                            <div class="ec-footer-logo">
                                <a href="~/Theme/#">
                                    <img src="~/Theme/assets/images/common/logo.png"
                                         alt=""><img class="dark-footer-logo" src="~/Theme/assets/images/common/logowhite.png"
                                                     alt="Site Logo" style="display: none;" />
                                </a>
                            </div>
                            <h4 class="ec-footer-heading">Contact us</h4>
                            <div class="ec-footer-links">
                                <ul class="align-items-center">
                                    <li class="ec-footer-link">Plot C-50 P&T Society K.I.A Karachi.</li>
                                    <li class="ec-footer-link"><span>Call Us:</span><a href="tel:+9220135120841">021-35120841</a></li>
                                    <li class="ec-footer-link">
                                        <span>Email:</span><a href="mailto:info@mwear.pk">info@mwear.pk</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-2 ec-footer-info">
                        <div class="ec-footer-widget">
                            <h4 class="ec-footer-heading">Information</h4>
                            <div class="ec-footer-links">
                                <ul class="align-items-center">
                                    <li class="ec-footer-link"><a href="@Url.Action("AboutUs","Home")">About us</a></li>
                                    <li class="ec-footer-link"><a href="@Url.Action("FAQ","Home")">FAQ</a></li>
                                    <li class="ec-footer-link"><a href="@Url.Action("CustomerService","Home")">Customer Service</a></li>
                                    <li class="ec-footer-link"><a href="@Url.Action("Contact","Home")">Contact us</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-2 ec-footer-account">
                        <div class="ec-footer-widget">
                            <h4 class="ec-footer-heading">Account</h4>
                            <div class="ec-footer-links">
                                <ul class="align-items-center">
                                    @*<li class="ec-footer-link"><a href="@Url.Action("Index","UserProfile")">My Account</a></li>
                                    <li class="ec-footer-link"><a href="@Url.Action("Index","Home")">Order History</a></li>
                                    <li class="ec-footer-link"><a href="@Url.Action("Index","WishList")">Wish List</a></li>*@
                                    <li class="ec-footer-link"><a>Account Functionality is <br />Coming Soon!</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-2 ec-footer-service">
                        <div class="ec-footer-widget">
                            <h4 class="ec-footer-heading">Policies</h4>
                            <div class="ec-footer-links">
                                <ul class="align-items-center">
                                    <li class="ec-footer-link"><a href="@Url.Action("ReturnAndExchange","Home")">Return & Exchange</a></li>
                                    <li class="ec-footer-link"><a href="@Url.Action("PrivacyPolicy","Home")">Policy & policy </a></li>
                                    <li class="ec-footer-link"><a href="@Url.Action("TermsAndConditions","Home")">Terms & Conditions</a></li>
                                    <li class="ec-footer-link">
                                        <a href="@Url.Action("DeliveryAndHandling","Home")">Delivery & Handling</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-3 ec-footer-news">
                        <div class="ec-footer-widget">
                            <h4 class="ec-footer-heading">HERE TO HELP</h4>
                            <div class="ec-footer-links">
                                <ul class="align-items-center">
                                    <li class="ec-footer-link">
                                        Have a question? You may find an answer in our FAQs.
                                        <br>Or you can contact our Customer Service.
                                    </li>
                                </ul>
                                <!-- <div class="ec-subscribe-form">
                                    <form id="ec-newsletter-form" name="ec-newsletter-form" method="post"
                                        action="#">
                                        <div id="ec_news_signup" class="ec-form">
                                            <input class="ec-email" type="email" required=""
                                                placeholder="Enter your email here..." name="ec-email" value="" />
                                            <button id="ec-news-btn" class="button btn-primary" type="submit"
                                                name="subscribe" value=""><i class="ecicon eci-paper-plane-o"
                                                    aria-hidden="true"></i></button>
                                        </div>
                                    </form>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class="row align-items-center">
                    <!-- Footer social Start -->
                    <div class="col text-left footer-bottom-left">
                        <div class="footer-bottom-social">
                            <span class="social-text text-upper">Follow us on:</span>
                            <ul class="mb-0">
                                <li class="list-inline-item"><a class="hdr-facebook" href="https://www.facebook.com/mwearpk"><i class="ecicon eci-facebook"></i></a></li>
                                <li class="list-inline-item"><a class="hdr-twitter" href="https://twitter.com/Mwearpk"><i class="ecicon eci-twitter"></i></a></li>
                                <li class="list-inline-item"><a class="hdr-instagram" href="https://www.instagram.com/mwearpk/"><i class="ecicon eci-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- Footer social End -->
                    <!-- Footer Copyright Start -->
                    <div class="col text-center footer-copy">
                        <div class="footer-bottom-copy ">
                            <div class="ec-copy" style="font-size:10px;">
                                Copyright © 2021-2022 <a class="site-name text-upper" href="@Url.Action("Index","Home")">MWear<span>.</span></a>. All Rights Reserved
                            </div>
                        </div>
                    </div>
                    <!-- Footer Copyright End -->
                    <!-- Footer payment -->
                    <div class="col footer-bottom-right">
                        <div class="footer-bottom-payment d-flex justify-content-end">
                            <div class="payment-link">
                                <img src="~/Theme/assets/images/icons/paymentnew.png" alt="">
                            </div>

                        </div>
                    </div>
                    <!-- Footer payment -->
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer Area End -->
<!-- Footer navigation panel for responsive display -->
<div class="ec-nav-toolbar">
    <div class="container">
        <div class="ec-nav-panel">
            <div class="ec-nav-panel-icons">
                <a href="~/Theme/#ec-mobile-menu" class="navbar-toggler-btn ec-header-btn ec-side-toggle">
                    <img src="~/Theme/assets/images/icons/menu.svg" class="svg_img header_svg" alt="" />
                </a>
            </div>
            <div class="ec-nav-panel-icons">
                <a href="#ec-side-cart" class="toggle-cart ec-header-btn ec-side-toggle">
                    <img src="~/Theme/assets/images/icons/cart.svg" class="svg_img header_svg" alt="" /><span class="ec-cart-noti ec-header-count cart-count-lable">3</span>
                </a>
            </div>
            @*<div class="ec-nav-panel-icons">
                <a href="@Url.Action("Index","Home")" class="ec-header-btn">
                    <img src="~/Theme/assets/images/icons/home.svg"
                         class="svg_img header_svg" alt="icon" />
                </a>
            </div>
            <div class="ec-nav-panel-icons">
                <a href="@Url.Action("Index","WishList")" class="ec-header-btn">
                    <img src="~/Theme/assets/images/icons/wishlist.svg"
                         class="svg_img header_svg" alt="icon" /><span class="ec-cart-noti">4</span>
                </a>
            </div>
            <div class="ec-nav-panel-icons">
                <a href="@Url.Action("Login","Account")" class="ec-header-btn">
                    <img src="~/Theme/assets/images/icons/user.svg"
                         class="svg_img header_svg" alt="icon" />
                </a>
            </div>*@

        </div>
    </div>
</div>
<!-- Footer navigation panel for responsive display end -->
