<!--=========================================================

 ============================================================-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">

    <title>MWear | Online Shop in Pakistan!.</title>
    <meta name="keywords" content="Mwear, Online Store, Pakistan, Female, Male, Jewellery, Jewelery, Sunglasses, Sunglasses in Pakistan, in Pakistan" />
    <meta name="description" content="Best Onlne Ecommerce Store In Pakistan">
    <meta name="author" content="Dawood Chouhan">

    <!-- site Favicon -->
    <link rel="icon" href="~/Theme/assets/images/favicon/favicon.ico" sizes="32x32" />
    <link rel="apple-touch-icon" href="~/Theme/assets/images/favicon/favicon.png" />
    <meta name="msapplication-TileImage" content="~/Theme/assets/images/favicon/favicon.png" />

    <!-- css Icon Font -->
    <link rel="stylesheet" href="~/Theme/assets/css/vendor/ecicons.min.css" />

    <!-- Select2 CDN -->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>


    <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit" async defer></script>

    <!-- css All Plugins Files -->
    <link rel="stylesheet" href="~/Theme/assets/css/plugins/animate.css" />
    <link rel="stylesheet" href="~/Theme/assets/css/plugins/swiper-bundle.min.css" />
    <link rel="stylesheet" href="~/Theme/assets/css/plugins/jquery-ui.min.css" />
    <link rel="stylesheet" href="~/Theme/assets/css/plugins/countdownTimer.css" />
    <link rel="stylesheet" href="~/Theme/assets/css/plugins/slick.min.css" />
    <link rel="stylesheet" href="~/Theme/assets/css/plugins/nouislider.css" />
    <link rel="stylesheet" href="~/Theme/assets/css/plugins/bootstrap.css" />

    <!-- Main Style -->
    <link rel="stylesheet" href="~/Theme/assets/css/style.css" />

    <!-- Background css -->
    <link rel="stylesheet" id="bg-switcher-css" href="~/Theme/assets/css/backgrounds/bg-4.css">

    <link rel="stylesheet" href="~/theme/assets/css/demo1.css" />


</head>
<body class="aboutus_page">
    <div id="ec-overlay"><span class="loader_img"></span></div>

    @Html.Partial("HeaderTopBar")

    @Html.Partial("_cart")

    @RenderBody()


    @Html.Partial("_footernavigation")

    <!-- Recent Purchase Popup  -->
    @Html.Partial("_floatingtools")
    <!-- Vendor JS -->
    <script src="~/Theme/assets/js/vendor/jquery-3.5.1.min.js"></script>
    <script src="~/Theme/assets/js/vendor/popper.min.js"></script>
    <script src="~/Theme/assets/js/vendor/bootstrap.min.js"></script>
    <script src="~/Theme/assets/js/vendor/jquery-migrate-3.3.0.min.js"></script>
    <script src="~/Theme/assets/js/vendor/modernizr-3.11.2.min.js"></script>



    <!--Plugins JS-->
    <script src="~/Theme/assets/js/plugins/swiper-bundle.min.js"></script>
    <script src="~/Theme/assets/js/plugins/countdownTimer.min.js"></script>
    <script src="~/Theme/assets/js/plugins/scrollup.js"></script>
    <script src="~/Theme/assets/js/plugins/jquery.zoom.min.js"></script>
    <script src="~/Theme/assets/js/plugins/slick.min.js"></script>
    <script src="~/Theme/assets/js/plugins/infiniteslidev2.js"></script>
    <script src="~/Theme/assets/js/vendor/jquery.magnific-popup.min.js"></script>
    <script src="~/Theme/assets/js/plugins/jquery.sticky-sidebar.js"></script>
    <!-- Google translate Js -->
    <script src="~/Theme/assets/js/vendor/google-translate.js"></script>
    <script>
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({ pageLanguage: 'en' }, 'google_translate_element');
        }
    </script>
    <!-- Main Js -->
    <script src="~/Theme/assets/js/vendor/index.js"></script>
    <script src="~/Theme/assets/js/main.js"></script>
    <script>
        $(document).ready(function () {
    GetCartData();
    });
    </script>

</body>
</html>