<!-- EC Main Menu Start -->
<div id="ec-main-menu-desk" class="d-none d-lg-block sticky-nav">
    <div class="container position-relative">
        <div class="row">
            <div class="col-md-12 align-self-center">
                <div class="ec-main-menu">
                    <ul>
                        <li><a href="@Url.Action("Index","Home")">Home</a></li>
                    
                        <li class="dropdown">
                            <a href="@Url.Action("Index","Shop")">Men's</a>
                            <ul class="sub-menu">

                                <li class="dropdown position-static">
                                    <a href="@Url.Action("Index","Shop")">
                                        Assesories
                                        <i class="ecicon eci-angle-right"></i>
                                    </a>
                                    <ul class="sub-menu sub-menu-child">
                                        <li>
                                            <a href="@Url.Action("Index","Shop")">Belts</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Index","Shop")">Cufflinks</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Index","Shop")">Wallets</a>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="@Url.Action("Index","Shop")">Sun Glasses</a></li>
                                <li><a href="@Url.Action("Index","Shop")">Fragrances</a></li>
                            </ul>
                        </li>


                        @*Womens*@

                        <li class="dropdown">
                            <a href="@Url.Action("Index","Shop")">Women's</a>
                            <ul class="sub-menu">
                                <li class="dropdown position-static">
                                    <a href="@Url.Action("Index","Shop")">
                                        Jewellery
                                        <i class="ecicon eci-angle-right"></i>
                                    </a>
                                    <ul class="sub-menu sub-menu-child">
                                        <li>
                                            <a href="@Url.Action("Index","Shop")">Anckles</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Index","Shop")">Bracelets</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Index","Shop")">Earrings</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Index","Shop")">Rings</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Index","Shop")">Necklace</a>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="@Url.Action("Index","Shop")">Sun Glasses</a></li>
                                <li><a href="@Url.Action("Index","Shop")">Fragrances</a></li>



                                
                            </ul>
                        </li>

                        <li><a href="@Url.Action("Index","Shop")">Shop</a></li>
                        <li><a href="@Url.Action("Index","Shop")">Sale!</a></li>
                        <li><a href="@Url.Action("Index","Shop")">Value Items</a></li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Ec Main Menu End -->
<!-- MWear Mobile Menu Start -->
<div id="ec-mobile-menu" class="ec-side-cart ec-mobile-menu">
    <div class="ec-menu-title">
        <span class="menu_title">My Menu</span>
        <button class="ec-close">×</button>
    </div>
    <div class="ec-menu-inner">
        <div class="ec-menu-content">
            <ul>
                <li><a href="@Url.Action("Index","Home")">Home</a></li>
                <li>
                    <a href="@Url.Action("Index","Shop")">Men's</a>
                    <ul class="sub-menu">
                        <li>
                            <a href="@Url.Action("Index","Shop")">Accessories</a>
                            <ul class="sub-menu">
                                <li><a href="@Url.Action("Index","Shop")">Belts</a></li>
                                <li><a href="@Url.Action("Index","Shop")">Cufflinks</a></li>
                                <li><a href="@Url.Action("Index","Shop")">Wallets</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="@Url.Action("Index","Shop")">Sun Glasses</a>

                        </li>
                        <li>
                            <a href="@Url.Action("Index","Shop")">Fregrances</a>

                        </li>
                    </ul>
                </li>
                <li>
                    <a href="@Url.Action("Index","Shop")">Women's</a>
                    <ul class="sub-menu">
                        <li>
                            <a href="@Url.Action("Index","Shop")">Jewellery</a>
                            <ul class="sub-menu">
                                <li><a href="@Url.Action("Index","Shop")">Anckles</a></li>
                                <li><a href="@Url.Action("Index","Shop")">Bracelets</a></li>
                                <li><a href="@Url.Action("Index","Shop")">Earrings</a></li>
                                <li><a href="@Url.Action("Index","Shop")">Rings</a></li>
                                <li><a href="@Url.Action("Index","Shop")">Necklace</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="@Url.Action("Index","Shop")">Sun Glasses</a>

                        </li>
                        <li>
                            <a href="@Url.Action("Index","Shop")">Fregrances</a>

                        </li>
                    </ul>
                </li>
                <li>
                    <a href="@Url.Action("Index","Shop")">Shop</a>
                </li>
                <li>
                    <a href="@Url.Action("Index","Shop")">Sale!</a>

                </li>
                <li>
                    <a href="#">Value Items</a>

                </li>
            </ul>
        </div>
        <div class="header-res-lan-curr">
            <div class="header-top-lan-curr">
               
            
                <!-- Currency End -->
            </div>
            <!-- Social Start -->
            <div class="header-res-social" style="margin-top:5px;">
                <div class="header-top-social">
                    <ul class="mb-0">
                        <li class="list-inline-item"><a class="hdr-facebook" href="https://www.facebook.com/mwearpk"><i class="ecicon eci-facebook"></i></a></li>
                        <li class="list-inline-item"><a class="hdr-twitter" href="https://twitter.com/Mwearpk"><i class="ecicon eci-twitter"></i></a></li>
                        <li class="list-inline-item"><a class="hdr-instagram" href="https://www.instagram.com/mwearpk/"><i class="ecicon eci-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
            <!-- Social End -->
        </div>
    </div>
</div>
<!-- MWear mobile Menu End -->
